:root {
  --backgroundColorHome: #e4decd;
}

.home {
  background-color: var(--backgroundColorHome);
  margin: 0;
  text-align: center;
}

.home p:last-child {
  margin: 0;
}

.pBox p:last-child {
  margin-top: 3em;
}

@media (max-width: 477px) {
  .home {
    padding: 0;
    text-align: start;
  }
}
